.popup__container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 37px 36px;
}

@media screen and (max-width: 520px) {
  .popup__container {
    max-width: calc(100% - 2 * 19px);
    padding: 25px 22px 25px 22px;
    min-height: 322px;
  }
}
