.popup__input-error {
  width: 100%;
  position: absolute;
  top: 62px;
  left: 0;
  visibility: hidden;
  display: inline-block;
  min-height: 16px;
  color: red;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 355px) {
  .popup__input-error {
    font-size: 10px;
  }
}

