.header__logo {
  display: block;
  max-width: 142px;
  width: 100%;
  margin: 0 0 41px 0;
}

@media screen and (max-width: 450px) {
  .header__logo {
    max-width: 104px;
    margin: 0 0 31px 27px;
  }
}
