.header {
  min-height: 74px;
  max-width: 880px;
  width: 100%;
  padding: 45px 0 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1080px) {
  .header {
    max-width: calc(100% - 2 * 100px);
  }
}

@media screen and (max-width: 1080px) {
  .header {
    max-width: calc(100% - 2 * 50px);
  }
}

@media screen and (max-width: 450px) {
  .header {
    max-width: 100%;
    padding: 28px 0 0 0;
    min-height: 56px;
  }
}
