.footer__copyright {
  color: rgba(84, 84, 84, 1);
  margin: 66px 0 60px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 450px) {
  .footer__copyright {
    margin: 48px 0 36px 0;
    font-size: 14px;
    line-height: 17px;
  }
}
