.profile__info {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 670px) {
  .profile__info {
    text-align: center;
    padding-left: 28px;
  }
}
